.text {
    color: white;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 27px;
    margin-right: 15vw;
}

.text1 {
    color: white;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: max(0.1vw, 20px);
    margin-left: 3vw;
    text-decoration: none;
}

.text1:hover {
    color: rgb(42, 194, 67);
    cursor: pointer;
}

.header {
    display: flex;
    background-color: rgb(27, 27, 27);
    border-radius: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.header-img {
    height: 100px;
}

.header-left {
    display: flex;
    margin: left 5vw;
    align-items: center;
}

.para {
    width: 10vw;
}

.menu-btn {
    display: none;
}

#click {
    display: none;
}

@media (max-width: 800px) {
    .menu-btn {
        display: block;
        margin-left: auto;
        margin-right: 5vw;
        color: white;
    }

    .header-left {
        position: fixed;
        top: 5vh;
        height: 100vh;
        width: 90%;
        left: -100%;
        border-radius: 20px;
        background: rgb(27, 27, 27);
        display: block;
        margin-top: 120px;
        transition: all 0.3s ease;
        z-index: 9999;
    }

    #click:checked ~ .header-left {
        left: 5%;
    }

    .mob-dev-adj {
        margin-top: 80px;
        text-align: center;
    }
}
