.main-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
    column-gap: 20px;
    margin-bottom: 5vh;
}






.main-body-1{
    background-color: rgb(27,27,27);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-body-1:hover{
    
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.3);

}

.main-body-2:hover{
    
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.3);

}

.main-body-2{
    background-color: rgb(27,27,27);
    border-radius: 20px;
}

.inner-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-1{
    height: 300px;
    width: 300px;
    border-radius: 300px;
    
    border: 4px solid rgba(203, 22, 22, 0.1);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.img-1:hover{
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.main-body-2{
   text-align: center; 
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.asp-text{
    font-family: poppins;
    font-size: 32px;
    font-weight: bold;
    color: rgb(226, 226, 226);
}

.asp-text-1{
    font-family: poppins;
    font-size: 16px;
    color: white;
    margin-left: 8vw;
    margin-right: 8vw;
    font-weight: 200;
    
}

.button-outer{
    display: flex;
    justify-content: space-between;
    
}

.button{
   
    background-color: rgb(27,27,27);
    border: none;
    flex: 1;
    
}

.flexi{
    display: flex;
    flex-direction: row;
    background-color: rgb(27,27,27);
    width: 120px;
    height: 40px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.link{
    text-decoration: none;
    color: white;
    background-color: rgb(27,27,27);
    font-family: poppins;
    border: none;
}


.app{
    height: 30px;
    flex: 1;
}

.Contact-button{
    background-color: rgb(153, 255, 0);
    border: none;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 15px;
    opacity: 0.8;


}

.Contact-button:hover{
    opacity: 1;
}

.link-contact{
    text-decoration: none;
    color: black;
}


@media (max-width: 757px) {
    .main-body {
      display: grid; 
      grid-template-columns: 1fr;
      row-gap: 10vh;
      margin-bottom: max(10vh,100px);
    }
    .app{
        height: 20px;
        flex: 1;
    }

    .button-outer{
        position: relative;
        top: 40vh;
        padding-bottom: 20vh;
    }

    .img-1{
        height: 200px;
        width: 200px;
        border-radius: 200px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    
}